 @charset "utf-8";
.dl-dd{
	overflow: hidden;
    padding-top: 1.2rem;
    background-color: #fff;
}
.dl-dd p {
	/*height: 2rem;*/
	line-height: 3rem;
}
.dl-dd dd {
	float: left;
    padding-top: 0.8rem;
    padding-left: 1.2rem;
    
}

.touxiang{
	width: 21%;
    height: 16%;
	border-radius: 100%;
/*	padding-top: 1.2rem;*/
	float: left;
}
.myinfo >ul {
	padding-top: 0.90rem;
}
.touxiang img {
	width: 100%;
	height:100%;
	border-radius: 100%;
}
.item {
	font-size: 1.3rem;
	padding-left: 1.15rem;
	position: relative;
	height: 2.5rem;
    line-height: 2.5rem;
    background-color: #fff;
}
.item a {color: #000000}
.other  {right :1rem; top:0rem;}
.other:before{
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    border-color: #ddd;
}