.layui-container{
	    background: url(../images/loginBg.png) no-repeat 0px -48px;
}
html, body {width: 100%;height: 100%;overflow: hidden}
body:after {content:'';background-repeat:no-repeat;background-size:cover;-webkit-filter:blur(3px);-moz-filter:blur(3px);-o-filter:blur(3px);-ms-filter:blur(3px);filter:blur(3px);position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;}
.layui-container {width: 100%;height: 100%;overflow: hidden}
.admin-login-background {
    width: 580px;
    position: absolute;
    /* left: 59%; */
    right: 7%;
    top: 30%;
    /* margin-left: -180px; */
    margin-top: -100px;
}
.logo-title {text-align:center;letter-spacing:2px;padding:14px 0;}
.logo-title h1 {
	font-family: PingFang-SC-Heavy;
	font-size: 36px;
	color: #8DDCFF;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 0 2px 4px rgba(8,10,72,0.50);
}
.login-form {
	/*padding: 60px 42px 40px 42px;*/
    background: rgba(1,8,38,0.43);
    border: 1px solid #ADAEAF;
    box-shadow: inset 0 0 10px 0 rgba(73,155,255,0.69);
    
}
.login-form .layui-form-item {position:relative;}
.login-form .layui-form-item .layui-btn{
	height: 54px;
}
.login-form .layui-form-item label {position:absolute;left:1px;top:1px;width:38px;line-height:36px;text-align:center;color:#d2d2d2;}
.login-form .layui-form-item input {padding-left:36px;height: 56px;}
.captcha {width:60%;display:inline-block;}
.captcha-img {display:inline-block;width:34%;float:right;}
.captcha-img img {height:34px;border:1px solid #e6e6e6;height:36px;width:100%;}
.login-form {
    width: 572px;
    margin: 0px auto;
    position: relative;
    height: 380px;
    top: 3px;
}
.top{
	    /* margin-top: 30px; */
    width: 480px;
    margin: 0px auto;
    padding-top: 73px;
}
.kuang {
	background: url(../images/login-k.png) no-repeat;
    width: 580px;
    /* margin: 0px auto; */
    height: 390px;
}

.layui-form-checkbox[lay-skin=primary] span{
		font-family: PingFangSC-Regular;
font-size: 14px;
color: #54C7FF;
letter-spacing: 0;
text-align: left;
}